<div class="container mt-4">
  <div *ngIf="students.length > 0; else noStudents">
    <h2 class="mb-4">Student List</h2>
    <table class="table table-bordered table-hover table-striped">
      <thead class="table-dark">
        <tr>
          <th>ID</th>
          <th>Name</th>
          <th>Last Name</th>
          <th>Gender</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let student of students">
          <td>{{ student.id }}</td>
          <td>{{ student.name }}</td>
          <td>{{ student.lastName }}</td>
          <td>{{ student.genderId }}</td>
        </tr>
      </tbody>
    </table>
  </div>

  <ng-template #noStudents>
    <div class="alert alert-warning text-center" role="alert">
      No students available.
    </div>
  </ng-template>
</div>
<router-outlet></router-outlet>
